In [61]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [62]:
# Desertores2018.csv
d2018 = pd.read_csv('data/tablas/desertores2018.csv', sep=';')

In [63]:
# datos nulos d2018
d2018.isnull().sum()

Unnamed: 0        0
AGNO              0
RBD               0
DGV_RBD           0
NOM_RBD           0
COD_REG_RBD       0
NOM_REG_RBD_A     0
COD_PRO_RBD       0
COD_COM_RBD       0
NOM_COM_RBD       0
COD_DEPROV_RBD    0
NOM_DEPROV_RBD    0
COD_DEPE          0
COD_DEPE2         0
RURAL_RBD         0
ESTADO_ESTAB      0
COD_ENSE          0
COD_ENSE2         0
COD_GRADO         0
LET_CUR           0
COD_JOR           0
COD_TIP_CUR       0
COD_DES_CUR       0
MRUN              0
GEN_ALU           0
FEC_NAC_ALU       0
EDAD_ALU          0
COD_REG_ALU       0
COD_COM_ALU       0
NOM_COM_ALU       0
COD_RAMA          0
COD_SEC           0
COD_ESPE          0
PROM_GRAL         0
ASISTENCIA        0
SIT_FIN           0
SIT_FIN_R         0
DESERTOR          0
dtype: int64

In [64]:
# importar regulares2018.csv
r2018 = pd.read_csv('data/tablas/regulares2018.csv', sep=';')

In [65]:
# r2018 datos nulos
r2018.isnull().sum()

Unnamed: 0        0
AGNO              0
RBD               0
DGV_RBD           0
NOM_RBD           0
COD_REG_RBD       0
NOM_REG_RBD_A     0
COD_PRO_RBD       0
COD_COM_RBD       0
NOM_COM_RBD       0
COD_DEPROV_RBD    0
NOM_DEPROV_RBD    0
COD_DEPE          0
COD_DEPE2         0
RURAL_RBD         0
ESTADO_ESTAB      0
COD_ENSE          0
COD_ENSE2         0
COD_GRADO         0
LET_CUR           0
COD_JOR           0
COD_TIP_CUR       0
COD_DES_CUR       0
MRUN              0
GEN_ALU           0
FEC_NAC_ALU       0
EDAD_ALU          0
COD_REG_ALU       0
COD_COM_ALU       0
NOM_COM_ALU       0
COD_RAMA          0
COD_SEC           0
COD_ESPE          0
PROM_GRAL         0
ASISTENCIA        0
SIT_FIN           0
SIT_FIN_R         0
COD_MEN           0
DESERTOR          0
dtype: int64

In [66]:
d2018.shape

(79315, 38)

In [67]:
r2018.shape

(2813885, 39)

In [68]:
display(d2018.head())

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR
0,25,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,15101,ARICA,0,0,0,"4,3",76,R,R,1
1,26,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,15101,ARICA,0,0,0,0,0,Y,T,1
2,56,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,15101,ARICA,0,0,0,0,0,Y,T,1
3,59,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,1401,POZO ALMONTE,0,0,0,0,0,Y,Y,1
4,61,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,15101,ARICA,0,0,0,0,0,Y,Y,1

In [69]:
display(r2018.head())

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN,DESERTOR
0,20,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"5,1",90,P,P,0,0
1,21,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"5,5",89,P,P,0,0
2,22,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,0,0
3,23,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"5,4",91,P,P,0,0
4,24,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,PUTRE,0,0,0,0,0,Y,T,0,0

In [70]:
# Concatenar los dataframes
df = pd.concat([d2018, r2018])

# Ahora puedes trabajar con el dataframe combinado
display(df.head())

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR,COD_MEN
0,25,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"4,3",76,R,R,1,NaN
1,26,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
2,56,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
3,59,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,POZO ALMONTE,0,0,0,0,0,Y,Y,1,NaN
4,61,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,Y,1,NaN

In [71]:
df.head( )

,Unnamed: 0,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR,COD_MEN
0,25,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,"4,3",76,R,R,1,NaN
1,26,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
2,56,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,T,1,NaN
3,59,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,POZO ALMONTE,0,0,0,0,0,Y,Y,1,NaN
4,61,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,ARICA,0,0,0,0,0,Y,Y,1,NaN

In [72]:
df.shape

(2893200, 39)

In [73]:
# Cantidad de 1 y 0 en desertor del df
df['DESERTOR'].value_counts()

DESERTOR
0    2813885
1      79315
Name: count, dtype: int64

In [74]:
# Drop COD_PRO_RBD, NOM_COM_RBD, COD_DEPROV_RBD, NOM_DEPROV_RBD
df.drop(['COD_PRO_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD', 'NOM_DEPROV_RBD'], axis=1, inplace=True)

In [75]:
# Eliminar Unnamed
df = df.drop(['Unnamed: 0'], axis=1)

In [76]:
# Eliminar AGNO, FEC_NAC_ALU de d2018
df = df.drop(['AGNO', 'FEC_NAC_ALU'], axis=1)

In [77]:
df.head()

,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_COM_RBD,COD_DEPE,COD_DEPE2,RURAL_RBD,ESTADO_ESTAB,...,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR,COD_MEN
0,1,9,LICEO POLITECNICO ARICA,15,AYP,15101,2,1,0,1,...,ARICA,0,0,0,"4,3",76,R,R,1,NaN
1,1,9,LICEO POLITECNICO ARICA,15,AYP,15101,2,1,0,1,...,ARICA,0,0,0,0,0,Y,T,1,NaN
2,1,9,LICEO POLITECNICO ARICA,15,AYP,15101,2,1,0,1,...,ARICA,0,0,0,0,0,Y,T,1,NaN
3,1,9,LICEO POLITECNICO ARICA,15,AYP,15101,2,1,0,1,...,POZO ALMONTE,0,0,0,0,0,Y,Y,1,NaN
4,1,9,LICEO POLITECNICO ARICA,15,AYP,15101,2,1,0,1,...,ARICA,0,0,0,0,0,Y,Y,1,NaN

In [78]:
# Drop NOM_COM_ALU, NOM_RBD y LET_CUR
df.drop(['NOM_RBD', 'NOM_COM_ALU', 'LET_CUR'], axis=1, inplace=True)

In [79]:
# RBD valores repetidos
df['RBD'].value_counts()

RBD
8485     4403
52       3622
25369    3393
24685    3319
5654     3044
         ...
2874        1
7784        1
6578        1
3189        1
991         1
Name: count, Length: 8739, dtype: int64

In [80]:
# concatenar RBD y DGV_RBD
df['RBD'] = df['RBD'].astype(str)
df['DGV_RBD'] = df['DGV_RBD'].astype(str)
df['RBD'] = df['RBD'] + df['DGV_RBD']
df.drop(['DGV_RBD'], axis=1, inplace=True)

# RBD valores repetidos
df['RBD'].value_counts()

RBD
84859     4403
523       3622
253693    3393
246859    3319
56545     3044
          ...
28746        1
77844        1
65781        1
31895        1
9911         1
Name: count, Length: 8739, dtype: int64

In [81]:
# Cantidad de rbd 1 y mayor a 1
df['RBD'].value_counts().head(1000)

RBD
84859     4403
523       3622
253693    3393
246859    3319
56545     3044
          ...
166766     787
3662       787
134465     787
107506     786
200913     786
Name: count, Length: 1000, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2893200 entries, 0 to 2813884
Data columns (total 28 columns):
 #   Column         Dtype
---  ------         -----
 0   RBD            object
 1   COD_REG_RBD    int64
 2   NOM_REG_RBD_A  object
 3   COD_COM_RBD    int64
 4   COD_DEPE       int64
 5   COD_DEPE2      int64
 6   RURAL_RBD      int64
 7   ESTADO_ESTAB   int64
 8   COD_ENSE       int64
 9   COD_ENSE2      int64
 10  COD_GRADO      int64
 11  COD_JOR        int64
 12  COD_TIP_CUR    int64
 13  COD_DES_CUR    int64
 14  MRUN           int64
 15  GEN_ALU        int64
 16  EDAD_ALU       int64
 17  COD_REG_ALU    int64
 18  COD_COM_ALU    int64
 19  COD_RAMA       int64
 20  COD_SEC        int64
 21  COD_ESPE       int64
 22  PROM_GRAL      object
 23  ASISTENCIA     int64
 24  SIT_FIN        object
 25  SIT_FIN_R      object
 26  DESERTOR       int64
 27  COD_MEN        float64
dtypes: float64(1), int64(22), object(5)
memory usage: 640.1+ MB

In [83]:
# Crear una nueva columna que indique si el estudiante y el colegio estÃ¡n en la misma regiÃ³n
df['same_region'] = df['COD_REG_RBD'] == df['COD_REG_ALU']

# Agrupar por la nueva columna y la columna de deserciÃ³n
grouped = df.groupby(['same_region', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

   same_region  DESERTOR   counts
0        False         0   151055
1        False         1     4538
2         True         0  2662830
3         True         1    74777

In [84]:
# Crear una nueva columna que indique si el estudiante y el colegio estÃ¡n en la misma comuna
df['same_com'] = df['COD_COM_RBD'] == df['COD_COM_ALU']

# Agrupar por la nueva columna y la columna de deserciÃ³n
grouped = df.groupby(['same_com', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

   same_com  DESERTOR   counts
0     False         0   737601
1     False         1    23866
2      True         0  2076284
3      True         1    55449

In [85]:
df.head()

,RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_COM_RBD,COD_DEPE,COD_DEPE2,RURAL_RBD,ESTADO_ESTAB,COD_ENSE,COD_ENSE2,...,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,DESERTOR,COD_MEN,same_region,same_com
0,19,15,AYP,15101,2,1,0,1,510,7,...,0,0,"4,3",76,R,R,1,NaN,True,True
1,19,15,AYP,15101,2,1,0,1,510,7,...,0,0,0,0,Y,T,1,NaN,True,True
2,19,15,AYP,15101,2,1,0,1,510,7,...,0,0,0,0,Y,T,1,NaN,True,True
3,19,15,AYP,15101,2,1,0,1,510,7,...,0,0,0,0,Y,Y,1,NaN,False,False
4,19,15,AYP,15101,2,1,0,1,510,7,...,0,0,0,0,Y,Y,1,NaN,True,True

In [86]:
# drop NOM_REG_RBD_A de df
df.drop(['NOM_REG_RBD_A'], axis=1, inplace=True)

# valores nulos y NaN
df.isnull().sum()

RBD                 0
COD_REG_RBD         0
COD_COM_RBD         0
COD_DEPE            0
COD_DEPE2           0
RURAL_RBD           0
ESTADO_ESTAB        0
COD_ENSE            0
COD_ENSE2           0
COD_GRADO           0
COD_JOR             0
COD_TIP_CUR         0
COD_DES_CUR         0
MRUN                0
GEN_ALU             0
EDAD_ALU            0
COD_REG_ALU         0
COD_COM_ALU         0
COD_RAMA            0
COD_SEC             0
COD_ESPE            0
PROM_GRAL           0
ASISTENCIA          0
SIT_FIN             0
SIT_FIN_R           0
DESERTOR            0
COD_MEN         79315
same_region         0
same_com            0
dtype: int64

In [87]:
# Cantidad valores NaN
df.isnull().sum().sum()

79315

In [88]:
# drop COD_MEN columns in df
df.drop(['COD_MEN'], axis=1, inplace=True)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2893200 entries, 0 to 2813884
Data columns (total 28 columns):
 #   Column        Dtype
---  ------        -----
 0   RBD           object
 1   COD_REG_RBD   int64
 2   COD_COM_RBD   int64
 3   COD_DEPE      int64
 4   COD_DEPE2     int64
 5   RURAL_RBD     int64
 6   ESTADO_ESTAB  int64
 7   COD_ENSE      int64
 8   COD_ENSE2     int64
 9   COD_GRADO     int64
 10  COD_JOR       int64
 11  COD_TIP_CUR   int64
 12  COD_DES_CUR   int64
 13  MRUN          int64
 14  GEN_ALU       int64
 15  EDAD_ALU      int64
 16  COD_REG_ALU   int64
 17  COD_COM_ALU   int64
 18  COD_RAMA      int64
 19  COD_SEC       int64
 20  COD_ESPE      int64
 21  PROM_GRAL     object
 22  ASISTENCIA    int64
 23  SIT_FIN       object
 24  SIT_FIN_R     object
 25  DESERTOR      int64
 26  same_region   bool
 27  same_com      bool
dtypes: bool(2), int64(22), object(4)
memory usage: 601.5+ MB

In [90]:
# rbd valores unicos
df['RBD'].value_counts()

RBD
84859     4403
523       3622
253693    3393
246859    3319
56545     3044
          ...
28746        1
77844        1
65781        1
31895        1
9911         1
Name: count, Length: 8739, dtype: int64

In [91]:
# Convertir rbd a int
df['RBD'] = df['RBD'].astype(int)

# DF valores unicos
df['RBD'].value_counts()

RBD
84859     4403
523       3622
253693    3393
246859    3319
56545     3044
          ...
28746        1
77844        1
65781        1
31895        1
9911         1
Name: count, Length: 8739, dtype: int64

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2893200 entries, 0 to 2813884
Data columns (total 28 columns):
 #   Column        Dtype
---  ------        -----
 0   RBD           int64
 1   COD_REG_RBD   int64
 2   COD_COM_RBD   int64
 3   COD_DEPE      int64
 4   COD_DEPE2     int64
 5   RURAL_RBD     int64
 6   ESTADO_ESTAB  int64
 7   COD_ENSE      int64
 8   COD_ENSE2     int64
 9   COD_GRADO     int64
 10  COD_JOR       int64
 11  COD_TIP_CUR   int64
 12  COD_DES_CUR   int64
 13  MRUN          int64
 14  GEN_ALU       int64
 15  EDAD_ALU      int64
 16  COD_REG_ALU   int64
 17  COD_COM_ALU   int64
 18  COD_RAMA      int64
 19  COD_SEC       int64
 20  COD_ESPE      int64
 21  PROM_GRAL     object
 22  ASISTENCIA    int64
 23  SIT_FIN       object
 24  SIT_FIN_R     object
 25  DESERTOR      int64
 26  same_region   bool
 27  same_com      bool
dtypes: bool(2), int64(23), object(3)
memory usage: 601.5+ MB

In [93]:
# Agrupar por 'COD_DES_CUR' y 'DESERTOR'
grouped = df.groupby(['COD_DES_CUR', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

   COD_DES_CUR  DESERTOR   counts
0            0         0  2650126
1            0         1    71923
2            1         0   139704
3            1         1     6454
4            2         0    20819
5            2         1      847
6            3         0     3236
7            3         1       91

In [94]:
# Agrupar por 'COD_SEC' y 'DESERTOR'
grouped = df.groupby(['COD_SEC', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

    COD_SEC  DESERTOR   counts
0         0         0  2650126
1         0         1    71923
2       410         0    47077
3       410         1     2145
4       510         0     4921
5       510         1      245
6       520         0    23137
7       520         1     1011
8       530         0    18607
9       530         1      802
10      540         0     3858
11      540         1      181
12      550         0     2328
13      550         1      118
14      560         0     2406
15      560         1      105
16      570         0      550
17      570         1       42
18      580         0     9063
19      580         1      373
20      610         0    15847
21      610         1      803
22      630         0     4852
23      630         1      239
24      640         0    21157
25      640         1      831
26      710         0     1174
27      710         1       72
28      720         0     6618
29      720         1      317
30      810         0     1905
31      810         1       99
32      910         0      259
33      910         1        9

In [95]:
# Agrupar por 'COD_ESPE' y 'DESERTOR'
grouped = df.groupby(['COD_ESPE', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

    COD_ESPE  DESERTOR   counts
0          0         0  2650126
1          0         1    71923
2      41002         0    14897
3      41002         1      645
4      41005         0    32180
..       ...       ...      ...
71     91001         1        3
72     91004         0      137
73     91004         1        5
74     91005         0       20
75     91005         1        1

[76 rows x 3 columns]

In [96]:
# Agrupar por 'COD_RAMA' y 'DESERTOR'
grouped = df.groupby(['COD_RAMA', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

    COD_RAMA  DESERTOR   counts
0          0         0  2650126
1          0         1    71923
2        400         0    47077
3        400         1     2145
4        500         0    64870
5        500         1     2877
6        600         0    41856
7        600         1     1873
8        700         0     7792
9        700         1      389
10       800         0     1905
11       800         1       99
12       900         0      259
13       900         1        9

In [97]:
# Agrupar por 'COD_TIP_CUR' y 'DESERTOR'
grouped = df.groupby(['COD_TIP_CUR', 'DESERTOR'])

# Contar el nÃºmero de filas en cada grupo
counts = grouped.size().reset_index(name='counts')

# Ahora puedes trabajar con el dataframe 'counts' que contiene la informaciÃ³n que necesitas
print(counts)

    COD_TIP_CUR  DESERTOR   counts
0             0         0  2763049
1             0         1    78714
2             1         0    28954
3             1         1      439
4             2         0    14562
5             2         1      102
6             3         0     7239
7             3         1       59
8             4         0       46
9             5         0       18
10            5         1        1
11            6         0       17

In [98]:
# Drop COD_TIP_CUR
df.drop(['COD_TIP_CUR'], axis=1, inplace=True)

# Matriz correlacion
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

ValueError: could not convert string to float: '4,3'

In [99]:
df['PROM_GRAL'] = df['PROM_GRAL'].str.replace(',', '.').astype(float)

In [100]:
# Definir x e y
X = df.drop(['DESERTOR'], axis=1)
y = df['DESERTOR']

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2893200 entries, 0 to 2813884
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   RBD           int64
 1   COD_REG_RBD   int64
 2   COD_COM_RBD   int64
 3   COD_DEPE      int64
 4   COD_DEPE2     int64
 5   RURAL_RBD     int64
 6   ESTADO_ESTAB  int64
 7   COD_ENSE      int64
 8   COD_ENSE2     int64
 9   COD_GRADO     int64
 10  COD_JOR       int64
 11  COD_DES_CUR   int64
 12  MRUN          int64
 13  GEN_ALU       int64
 14  EDAD_ALU      int64
 15  COD_REG_ALU   int64
 16  COD_COM_ALU   int64
 17  COD_RAMA      int64
 18  COD_SEC       int64
 19  COD_ESPE      int64
 20  PROM_GRAL     float64
 21  ASISTENCIA    int64
 22  SIT_FIN       object
 23  SIT_FIN_R     object
 24  DESERTOR      int64
 25  same_region   bool
 26  same_com      bool
dtypes: bool(2), float64(1), int64(22), object(2)
memory usage: 579.4+ MB

In [102]:
df = pd.get_dummies(d2018, columns=['SIT_FIN', 'SIT_FIN_R'])

In [103]:
# drop NOM_RBD, NOM_REG_RBD_A, NOM_COM_RBD, NOM_DEPROV_RBD
df.drop(['NOM_RBD', 'NOM_REG_RBD_A', 'NOM_COM_RBD', 'NOM_DEPROV_RBD'], axis=1, inplace=True)

In [107]:
# PROM_GRAL change , for . and datatype for float
df['PROM_GRAL'] = df['PROM_GRAL'].str.replace(',', '.').astype(float)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79315 entries, 0 to 79314
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      79315 non-null  int64
 1   AGNO            79315 non-null  int64
 2   RBD             79315 non-null  int64
 3   DGV_RBD         79315 non-null  int64
 4   COD_REG_RBD     79315 non-null  int64
 5   COD_PRO_RBD     79315 non-null  int64
 6   COD_COM_RBD     79315 non-null  int64
 7   COD_DEPROV_RBD  79315 non-null  int64
 8   COD_DEPE        79315 non-null  int64
 9   COD_DEPE2       79315 non-null  int64
 10  RURAL_RBD       79315 non-null  int64
 11  ESTADO_ESTAB    79315 non-null  int64
 12  COD_ENSE        79315 non-null  int64
 13  COD_ENSE2       79315 non-null  int64
 14  COD_GRADO       79315 non-null  int64
 15  COD_JOR         79315 non-null  int64
 16  COD_TIP_CUR     79315 non-null  int64
 17  COD_DES_CUR     79315 non-null  int64
 18  MRUN            79315 non-null  int64
 19  GEN_ALU         79315 non-null  int64
 20  FEC_NAC_ALU     79315 non-null  int64
 21  EDAD_ALU        79315 non-null  int64
 22  COD_REG_ALU     79315 non-null  int64
 23  COD_COM_ALU     79315 non-null  int64
 24  COD_RAMA        79315 non-null  int64
 25  COD_SEC         79315 non-null  int64
 26  COD_ESPE        79315 non-null  int64
 27  PROM_GRAL       79315 non-null  object
 28  ASISTENCIA      79315 non-null  int64
 29  DESERTOR        79315 non-null  int64
 30  SIT_FIN_        79315 non-null  bool
 31  SIT_FIN_P       79315 non-null  bool
 32  SIT_FIN_R       79315 non-null  bool
 33  SIT_FIN_Y       79315 non-null  bool
 34  SIT_FIN_R_      79315 non-null  bool
 35  SIT_FIN_R_P     79315 non-null  bool
 36  SIT_FIN_R_R     79315 non-null  bool
 37  SIT_FIN_R_T     79315 non-null  bool
 38  SIT_FIN_R_Y     79315 non-null  bool
dtypes: bool(9), int64(29), object(1)
memory usage: 18.8+ MB

In [105]:
# drop NOM_COM_ALU
df.drop(['NOM_COM_ALU', 'LET_CUR'], axis=1, inplace=True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79315 entries, 0 to 79314
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      79315 non-null  int64
 1   AGNO            79315 non-null  int64
 2   RBD             79315 non-null  int64
 3   DGV_RBD         79315 non-null  int64
 4   COD_REG_RBD     79315 non-null  int64
 5   COD_PRO_RBD     79315 non-null  int64
 6   COD_COM_RBD     79315 non-null  int64
 7   COD_DEPROV_RBD  79315 non-null  int64
 8   COD_DEPE        79315 non-null  int64
 9   COD_DEPE2       79315 non-null  int64
 10  RURAL_RBD       79315 non-null  int64
 11  ESTADO_ESTAB    79315 non-null  int64
 12  COD_ENSE        79315 non-null  int64
 13  COD_ENSE2       79315 non-null  int64
 14  COD_GRADO       79315 non-null  int64
 15  COD_JOR         79315 non-null  int64
 16  COD_TIP_CUR     79315 non-null  int64
 17  COD_DES_CUR     79315 non-null  int64
 18  MRUN            79315 non-null  int64
 19  GEN_ALU         79315 non-null  int64
 20  FEC_NAC_ALU     79315 non-null  int64
 21  EDAD_ALU        79315 non-null  int64
 22  COD_REG_ALU     79315 non-null  int64
 23  COD_COM_ALU     79315 non-null  int64
 24  COD_RAMA        79315 non-null  int64
 25  COD_SEC         79315 non-null  int64
 26  COD_ESPE        79315 non-null  int64
 27  PROM_GRAL       79315 non-null  float64
 28  ASISTENCIA      79315 non-null  int64
 29  DESERTOR        79315 non-null  int64
 30  SIT_FIN_        79315 non-null  bool
 31  SIT_FIN_P       79315 non-null  bool
 32  SIT_FIN_R       79315 non-null  bool
 33  SIT_FIN_Y       79315 non-null  bool
 34  SIT_FIN_R_      79315 non-null  bool
 35  SIT_FIN_R_P     79315 non-null  bool
 36  SIT_FIN_R_R     79315 non-null  bool
 37  SIT_FIN_R_T     79315 non-null  bool
 38  SIT_FIN_R_Y     79315 non-null  bool
dtypes: bool(9), float64(1), int64(29)
memory usage: 18.8 MB

In [110]:
# valores unicos prom_gral
df['PROM_GRAL'].value_counts()

PROM_GRAL
0.0    38087
4.9     1668
4.7     1644
5.0     1602
4.8     1596
       ...
1.4       10
1.7       10
1.3        8
1.2        6
1.1        5
Name: count, Length: 62, dtype: int64

In [112]:
# valor en prom_gral igual a p
df['PROM_GRAL'] = df['PROM_GRAL'].replace('P', np.nan)

In [114]:
# Count values equial 'P'
df['PROM_GRAL'].value_counts().unique()

array([38087,  1668,  1644,  1602,  1596,  1545,  1523,  1518,  1509,
        1428,  1402,  1346,  1315,  1308,  1307,  1259,  1255,  1237,
        1196,  1188,  1181,  1176,  1054,  1042,   982,   899,   838,
         800,   788,   596,   579,   567,   490,   430,   359,   322,
         321,   273,   209,   194,   167,   156,   153,   115,    90,
          82,    79,    70,    58,    53,    30,    21,    15,    13,
          10,     8,     6,     5])

In [116]:
df.head()

,Unnamed: 0,AGNO,RBD,DGV_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,COD_DEPROV_RBD,COD_DEPE,COD_DEPE2,...,DESERTOR,SIT_FIN_,SIT_FIN_P,SIT_FIN_R,SIT_FIN_Y,SIT_FIN_R_,SIT_FIN_R_P,SIT_FIN_R_R,SIT_FIN_R_T,SIT_FIN_R_Y
0,25,2018,1,9,15,151,15101,151,2,1,...,1,False,False,True,False,False,False,True,False,False
1,26,2018,1,9,15,151,15101,151,2,1,...,1,False,False,False,True,False,False,False,True,False
2,56,2018,1,9,15,151,15101,151,2,1,...,1,False,False,False,True,False,False,False,True,False
3,59,2018,1,9,15,151,15101,151,2,1,...,1,False,False,False,True,False,False,False,False,True
4,61,2018,1,9,15,151,15101,151,2,1,...,1,False,False,False,True,False,False,False,False,True

In [117]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [119]:
df['AGNO'].value_counts().unique()

array([79315])

In [120]:
# valores unicos agno
df['AGNO'].value_counts()

AGNO
2018    79315
Name: count, dtype: int64

In [121]:
df['PROM_GRAL'].value_counts()

PROM_GRAL
0.0    38087
4.9     1668
4.7     1644
5.0     1602
4.8     1596
       ...
1.4       10
1.7       10
1.3        8
1.2        6
1.1        5
Name: count, Length: 62, dtype: int64

In [ ]:
# df['PROM_GRAL'] = p
df['PROM_GRAL'] = df['PROM_GRAL'].replace('P', np.nan)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79315 entries, 0 to 79314
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGNO            79315 non-null  int64
 1   RBD             79315 non-null  int64
 2   DGV_RBD         79315 non-null  int64
 3   COD_REG_RBD     79315 non-null  int64
 4   COD_PRO_RBD     79315 non-null  int64
 5   COD_COM_RBD     79315 non-null  int64
 6   COD_DEPROV_RBD  79315 non-null  int64
 7   COD_DEPE        79315 non-null  int64
 8   COD_DEPE2       79315 non-null  int64
 9   RURAL_RBD       79315 non-null  int64
 10  ESTADO_ESTAB    79315 non-null  int64
 11  COD_ENSE        79315 non-null  int64
 12  COD_ENSE2       79315 non-null  int64
 13  COD_GRADO       79315 non-null  int64
 14  COD_JOR         79315 non-null  int64
 15  COD_TIP_CUR     79315 non-null  int64
 16  COD_DES_CUR     79315 non-null  int64
 17  MRUN            79315 non-null  int64
 18  GEN_ALU         79315 non-null  int64
 19  FEC_NAC_ALU     79315 non-null  int64
 20  EDAD_ALU        79315 non-null  int64
 21  COD_REG_ALU     79315 non-null  int64
 22  COD_COM_ALU     79315 non-null  int64
 23  COD_RAMA        79315 non-null  int64
 24  COD_SEC         79315 non-null  int64
 25  COD_ESPE        79315 non-null  int64
 26  PROM_GRAL       79315 non-null  float64
 27  ASISTENCIA      79315 non-null  int64
 28  DESERTOR        79315 non-null  int64
 29  SIT_FIN_        79315 non-null  bool
 30  SIT_FIN_P       79315 non-null  bool
 31  SIT_FIN_R       79315 non-null  bool
 32  SIT_FIN_Y       79315 non-null  bool
 33  SIT_FIN_R_      79315 non-null  bool
 34  SIT_FIN_R_P     79315 non-null  bool
 35  SIT_FIN_R_R     79315 non-null  bool
 36  SIT_FIN_R_T     79315 non-null  bool
 37  SIT_FIN_R_Y     79315 non-null  bool
dtypes: bool(9), float64(1), int64(28)
memory usage: 18.2 MB

In [115]:
# Regresion logistica
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

# Dividir los datos en entrenamiento y prueba y random_state=2023
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2023)

# Crear el modelo de regresiÃ³n logÃ­stica
logmodel = LogisticRegression()

# Entrenar el modelo
logmodel.fit(X_train, y_train)

# Predecir los valores para la prueba
predictions = logmodel.predict(X_test)

# Matriz de confusiÃ³n
print(confusion_matrix(y_test, predictions))

# Reporte de clasificaciÃ³n
print(classification_report(y_test, predictions))

ValueError: could not convert string to float: 'P'

In [ ]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

# Crear el modelo de Random Forest
rfc = RandomForestClassifier(n_estimators=100)

# Entrenar el modelo
rfc.fit(X_train, y_train)

# Predecir los valores para la prueba
rfc_pred = rfc.predict(X_test)

# Matriz de confusiÃ³n
print(confusion_matrix(y_test, rfc_pred))

# Reporte de clasificaciÃ³n
print(classification_report(y_test, rfc_pred))

[[845761   5019]
 [ 20809   2759]]
              precision    recall  f1-score   support

           0       0.98      0.99      0.98    850780
           1       0.35      0.12      0.18     23568

    accuracy                           0.97    874348
   macro avg       0.67      0.56      0.58    874348
weighted avg       0.96      0.97      0.96    874348

In [ ]:
# Importancia de las variables
importances = pd.DataFrame({'feature':X_train.columns,'importance':np.round(rfc.feature_importances_,3)})
importances = importances.sort_values('importance',ascending=False).set_index('feature')
print(importances.head(15))

# Matriz correlacion
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

             importance
feature
MRUN              0.446
RBD               0.160
COD_COM_ALU       0.101
COD_COM_RBD       0.075
EDAD_ALU          0.075
GEN_ALU           0.023
COD_GRADO2        0.022
COD_GRADO         0.022
COD_JOR           0.016
COD_REG_ALU       0.015
COD_REG_RBD       0.013
COD_ENSE2         0.012
COD_DEPE          0.009
COD_DEPE2         0.005
RURAL_RBD         0.005

In [ ]:
# ClasificaciÃ³n modelo no supervisado
# Importar KMeans
from sklearn.cluster import KMeans

# Crear el modelo KMeans
kmeans = KMeans(n_clusters=2)

# Entrenar el modelo
kmeans.fit(X_train)

# Predecir los valores para la prueba
kmeans_pred = kmeans.predict(X_test)

# Matriz de confusiÃ³n
print(confusion_matrix(y_test, kmeans_pred))

# Reporte de clasificaciÃ³n
print(classification_report(y_test, kmeans_pred))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

[[421911 428869]
 [ 14326   9242]]
              precision    recall  f1-score   support

           0       0.97      0.50      0.66    850780
           1       0.02      0.39      0.04     23568

    accuracy                           0.49    874348
   macro avg       0.49      0.44      0.35    874348
weighted avg       0.94      0.49      0.64    874348

In [ ]:
# kprototypes
from kmodes.kprototypes import KPrototypes

# Crear el modelo KPrototypes
kproto = KPrototypes(n_clusters=2, init='Cao')

# Entrenar el modelo
kproto.fit(X_train, categorical=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])

# Predecir los valores para la prueba
kproto_pred = kproto.predict(X_test, categorical=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])

# Matriz de confusiÃ³n
print(confusion_matrix(y_test, kproto_pred))

# Reporte de clasificaciÃ³n
print(classification_report(y_test, kproto_pred))

In [ ]:
# Prueba con neuronal network
from sklearn.neural_network import MLPClassifier

# Crear el modelo MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(30,30,30))

# Entrenar el modelo
mlp.fit(X_train,y_train)

# Predecir los valores para la prueba
mlp_pred = mlp.predict(X_test)

# Matriz de confusiÃ³n
print(confusion_matrix(y_test, mlp_pred))

# Reporte de clasificaciÃ³n
print(classification_report(y_test, mlp_pred))

In [ ]:
# Agrupar por 'COD_COM_RBD' y 'DESERTOR' y contar el nÃºmero de filas
counts = df.groupby(['COD_COM_RBD', 'DESERTOR']).size().reset_index(name='counts')

# Filtrar para 'DESERTOR' = 1
desertores = counts[counts['DESERTOR'] == 1]

# Ordenar los resultados en orden descendente
desertores_sorted = desertores.sort_values(by='counts', ascending=False)

# Ahora puedes trabajar con el dataframe 'desertores_sorted' que contiene la informaciÃ³n que necesitas
print(desertores_sorted.head(20))

     COD_COM_RBD  DESERTOR  counts
527        13101         1    3670
15          2101         1    2575
591        13201         1    2092
563        13119         1    2047
545        13110         1    1911
565        13120         1    1480
1           1101         1    1402
50          4101         1    1328
579        13127         1    1315
92          5109         1    1312
603        13401         1    1311
575        13125         1    1244
156         6101         1    1227
80          5101         1    1212
537        13106         1    1175
368         9101         1    1171
23          2201         1    1165
432        10101         1    1156
541        13108         1    1137
577        13126         1    1110

In [ ]:
# Agrupar por 'COD_COM_ALU' y 'DESERTOR' y contar el nÃºmero de filas
counts = df.groupby(['COD_COM_ALU', 'DESERTOR']).size().reset_index(name='counts')

# Filtrar para 'DESERTOR' = 1
desertores = counts[counts['DESERTOR'] == 1]

# Ordenar los resultados en orden descendente
desertores_sorted = desertores.sort_values(by='counts', ascending=False)

# Ahora puedes trabajar con el dataframe 'desertores_sorted' que contiene la informaciÃ³n que necesitas
print(desertores_sorted.head(20))
print(desertores_sorted.tail(20))

     COD_COM_ALU  DESERTOR  counts
553        13101         1    3650
15          2101         1    2669
617        13201         1    2442
589        13119         1    2142
571        13110         1    1770
629        13401         1    1462
1           1101         1    1418
93          5109         1    1411
601        13125         1    1358
595        13122         1    1243
81          5101         1    1203
563        13106         1    1188
605        13127         1    1185
23          2201         1    1176
157         6101         1    1170
567        13108         1    1162
455        10101         1    1160
579        13114         1    1116
51          4101         1    1086
53          4102         1    1012
     COD_COM_ALU  DESERTOR  counts
509        10402         1       9
193         6202         1       8
483        10206         1       8
687        15202         1       7
683        15102         1       6
371         8412         1       6
219         6309         1       6
513        10404         1       5
79          4305         1       5
87          5104         1       4
517        11102         1       4
479        10204         1       3
546        12302         1       2
527        11302         1       2
7           1402         1       2
9           1403         1       2
536        12102         1       1
539        12104         1       1
548        12303         1       1
25          2202         1       1

In [ ]:
# Agrupar por 'COD_COM_RBD' y 'DESERTOR' y contar el nÃºmero de filas
counts = df.groupby(['COD_COM_RBD', 'DESERTOR']).size().reset_index(name='counts')

# Filtrar para 'DESERTOR' = 0
desertores = counts[counts['DESERTOR'] == 0]

# Ordenar los resultados en orden descendente
desertores_sorted = desertores.sort_values(by='counts', ascending=False)

# Ahora puedes trabajar con el dataframe 'desertores_sorted' que contiene la informaciÃ³n que necesitas
print(desertores_sorted)

     COD_COM_RBD  DESERTOR  counts
590        13201         0   85734
562        13119         0   80072
526        13101         0   65989
544        13110         0   62138
14          2101         0   61515
..           ...       ...     ...
524        12402         0      31
24          2202         0      30
512        12102         0      28
521        12303         0      17
514        12103         0       9

[345 rows x 3 columns]

In [ ]:
# Calcular el total de estudiantes por comuna
total_students = df.groupby('COD_COM_RBD').size()

# Calcular el nÃºmero de desertores por comuna
deserters = df[df['DESERTOR'] == 1].groupby('COD_COM_RBD').size()

# Calcular el porcentaje de desertores
desertion_rate = (deserters / total_students) * 100

# Ahora puedes trabajar con la serie 'desertion_rate' que contiene la informaciÃ³n que necesitas
print(desertion_rate.sort_values(ascending=False))

COD_COM_RBD
8414     100.0
8413     100.0
8412     100.0
8411     100.0
8407     100.0
         ...
16301      NaN
16302      NaN
16303      NaN
16304      NaN
16305      NaN
Length: 366, dtype: float64

In [ ]:
# Calcular el total de estudiantes por comuna
total_students = df.groupby('COD_COM_RBD').size()

# Calcular el nÃºmero de no desertores por comuna
deserters = df[df['DESERTOR'] == 0].groupby('COD_COM_RBD').size()

# Calcular el porcentaje de desertores
desertion_rate = (deserters / total_students) * 100

# Ahora puedes trabajar con la serie 'desertion_rate' que contiene la informaciÃ³n que necesitas
print(desertion_rate.sort_values(ascending=False))

COD_COM_RBD
16204    100.0
16205    100.0
16305    100.0
16304    100.0
16106    100.0
         ...
8417       NaN
8418       NaN
8419       NaN
8420       NaN
8421       NaN
Length: 366, dtype: float64

In [ ]:
# Cantidad de estudiantes en la comuna con cÃ³digo 8414
num_students = df[df['COD_COM_RBD'] == 8414].shape[0]
print(num_students)

16

In [ ]:
comuna = df[df['COD_COM_RBD'] == 8414]
comuna.head(16)

,RBD,COD_REG_RBD,COD_COM_RBD,COD_DEPE,COD_DEPE2,RURAL_RBD,ESTADO_ESTAB,COD_ENSE2,COD_GRADO,COD_GRADO2,COD_JOR,MRUN,GEN_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,DESERTOR
18597,41025,8,8414,2,1,0,1,5,1,1,3,9150871,2,17,8,8414,1
18598,41025,8,8414,2,1,0,1,5,2,2,3,6720497,2,18,8,8414,1
18599,41025,8,8414,2,1,0,1,5,3,3,3,4452873,1,16,8,8414,1
18600,41025,8,8414,2,1,0,1,7,1,1,3,6407019,1,17,8,8414,1
18601,41025,8,8414,2,1,0,1,7,2,2,3,5585553,2,15,8,8414,1
18602,41025,8,8414,2,1,0,1,7,3,3,3,5046977,1,19,8,8414,1
18603,41025,8,8414,2,1,0,1,7,3,3,3,20704784,1,19,8,8414,1
18604,41025,8,8414,2,1,0,1,7,2,2,3,3358496,1,17,8,8414,1
18605,41025,8,8414,2,1,0,1,7,2,2,3,12722071,1,17,8,8414,1
18606,41025,8,8414,2,1,0,1,7,2,2,3,22597547,1,17,8,8414,1
18607,41041,8,8414,2,1,0,1,2,5,5,3,33339,2,12,8,8414,1
18608,41041,8,8414,2,1,0,1,2,8,8,3,53751,2,15,13,13101,1
18609,41122,8,8414,2,1,1,1,2,6,6,3,16544057,1,13,13,13503,1
64533,179302,8,8414,2,1,0,1,2,2,2,3,13878838,2,7,8,8414,1
64534,179302,8,8414,2,1,0,1,2,7,7,3,18806864,1,14,8,8414,1
64635,180351,8,8414,3,2,0,1,5,3,3,1,19205040,1,17,8,8414,1

In [ ]:
# importar matricula 2018
matricula2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_5497/351197754.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  matricula2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')

In [ ]:
comuna = matricula2018[matricula2018['COD_COM_RBD'] == 8414]
comuna

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,NOM_DEPROV_RBD,...,GEN_ALU,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS
778521,2018,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,199809,19,8,8408,NINHUE,0,0,0,4
778522,2018,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,2,199808,19,8,8414,QUIRIHUE,0,0,0,4
778523,2018,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,2,199208,25,8,8414,QUIRIHUE,0,0,0,4
778524,2018,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,200112,16,8,8414,QUIRIHUE,0,0,0,4
778525,2018,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,199608,21,8,8414,QUIRIHUE,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762215,2018,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,201302,5,8,8414,QUIRIHUE,0,0,0,2
2762216,2018,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,201205,6,8,8414,QUIRIHUE,0,0,0,2
2762217,2018,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,2,201209,5,8,8414,QUIRIHUE,0,0,0,2
2762218,2018,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,201303,5,8,8414,QUIRIHUE,0,0,0,2
2762219,2018,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,8,84,8414,QUIRIHUE,81,Ã‘UBLE,...,1,201206,6,8,8414,QUIRIHUE,0,0,0,2

In [ ]:
# La comuna de QUIRIHUE cambia de 8414 a 16201 posterior a la crecaiÃ³n de la regiÃ³n de Ã‘uble
comuna = matricula2018[matricula2018['COD_COM_RBD'] == 16201]
comuna

Empty DataFrame
Columns: [AGNO, RBD, DGV_RBD, NOM_RBD, COD_REG_RBD, COD_PRO_RBD, COD_COM_RBD, NOM_COM_RBD, COD_DEPROV_RBD, NOM_DEPROV_RBD, COD_DEPE, COD_DEPE2, RURAL_RBD, ESTADO_ESTAB, COD_ENSE, COD_ENSE2, COD_ENSE3, COD_GRADO, COD_GRADO2, LET_CUR, COD_JOR, COD_TIP_CUR, COD_DES_CUR, MRUN, GEN_ALU, FEC_NAC_ALU, EDAD_ALU, COD_REG_ALU, COD_COM_ALU, NOM_COM_ALU, COD_SEC, COD_ESPE, COD_RAMA, ENS]
Index: []

[0 rows x 34 columns]

In [ ]:
# Importar matricula 2019
matricula2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

comuna = matricula2019[matricula2019['COD_COM_RBD'] == 8414]
comuna

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_1980/163546365.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  matricula2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

Empty DataFrame
Columns: [AGNO, RBD, DGV_RBD, NOM_RBD, COD_REG_RBD, NOM_REG_RBD_A, COD_PRO_RBD, COD_COM_RBD, NOM_COM_RBD, COD_DEPROV_RBD, NOM_DEPROV_RBD, COD_DEPE, COD_DEPE2, RURAL_RBD, ESTADO_ESTAB, COD_ENSE, COD_ENSE2, COD_ENSE3, COD_GRADO, COD_GRADO2, LET_CUR, COD_JOR, COD_TIP_CUR, COD_DES_CUR, MRUN, GEN_ALU, FEC_NAC_ALU, EDAD_ALU, COD_REG_ALU, COD_COM_ALU, NOM_COM_ALU, COD_SEC, COD_ESPE, COD_RAMA, ENS]
Index: []

[0 rows x 35 columns]

In [ ]:
comuna = matricula2019[matricula2019['COD_COM_RBD'] == 16201]
comuna

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,GEN_ALU,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS
786590,2019,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,16,NUBLE,162,16201,QUIRIHUE,81,...,2,199808,20,16,16201,QUIRIHUE,0,0,0,4
786591,2019,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,16,NUBLE,162,16201,QUIRIHUE,81,...,2,199208,26,16,16201,QUIRIHUE,0,0,0,4
786592,2019,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,16,NUBLE,162,16201,QUIRIHUE,81,...,1,200308,15,16,16201,QUIRIHUE,0,0,0,4
786593,2019,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,16,NUBLE,162,16201,QUIRIHUE,81,...,1,200112,17,16,16201,QUIRIHUE,0,0,0,4
786594,2019,4102,5,LICEO POLIVALENTE CARLOS MONTANE CASTRO,16,NUBLE,162,16201,QUIRIHUE,81,...,2,199711,21,16,16201,QUIRIHUE,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793844,2019,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,16,NUBLE,162,16201,QUIRIHUE,81,...,1,201403,5,16,16201,QUIRIHUE,0,0,0,2
2793845,2019,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,16,NUBLE,162,16201,QUIRIHUE,81,...,2,201403,5,16,16201,QUIRIHUE,0,0,0,2
2793846,2019,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,16,NUBLE,162,16201,QUIRIHUE,81,...,2,201403,5,16,16201,QUIRIHUE,0,0,0,2
2793847,2019,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,16,NUBLE,162,16201,QUIRIHUE,81,...,2,201304,6,16,16201,QUIRIHUE,0,0,0,2
2793848,2019,18197,8,ESCUELA ESPECIAL DE LENGUAJE LLAIPÃ‰N,16,NUBLE,162,16201,QUIRIHUE,81,...,2,201311,5,16,16201,QUIRIHUE,0,0,0,2

In [ ]:
# Agrupar por 'RBD' y 'DESERTOR' y contar el nÃºmero de filas
counts = df.groupby(['RBD', 'DESERTOR']).size().reset_index(name='counts')

# Filtrar para 'DESERTOR' = 1
desertores = counts[counts['DESERTOR'] == 1]

# Ordenar los resultados en orden descendente
desertores_sorted = desertores.sort_values(by='counts', ascending=False)

# Ahora puedes trabajar con el dataframe 'desertores_sorted' que contiene la informaciÃ³n que necesitas
print(desertores_sorted)

        RBD  DESERTOR  counts
290     284         1     191
7741   8497         1     181
7729   8490         1     174
292     285         1     153
9814  10638         1     147
...     ...       ...     ...
43       28         1       1
13       10         1       1
170     162         1       1
173     167         1       1
222     214         1       1

[6164 rows x 3 columns]

In [ ]:
# RBD nombres
rbd = matricula2018[matricula2018['RBD'] == 284]
rbd

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,NOM_DEPROV_RBD,...,GEN_ALU,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS
80310,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,1,201306,5,2,2101,ANTOFAGASTA,0,0,0,1
80311,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,1,201307,4,2,2101,ANTOFAGASTA,0,0,0,1
80312,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,201307,4,13,13121,PEDRO AGUIRRE CERDA,0,0,0,1
80313,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,201403,4,2,2101,ANTOFAGASTA,0,0,0,1
80314,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,201403,4,2,2101,ANTOFAGASTA,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81291,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,200002,18,2,2101,ANTOFAGASTA,0,0,0,7
81292,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,1,200009,17,2,2101,ANTOFAGASTA,0,0,0,7
81293,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,200010,17,2,2101,ANTOFAGASTA,0,0,0,7
81294,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,200101,17,2,2101,ANTOFAGASTA,0,0,0,7
81295,2018,284,4,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,2,21,2101,ANTOFAGASTA,21,ANTOFAGASTA - TOCOPILLA,...,2,200003,18,2,2101,ANTOFAGASTA,0,0,0,7

In [ ]:
# RBD nombres valores unicos
rbd['NOM_RBD'].value_counts()

# El LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMONDE SILVA de Antofagasta 
# es el establecimiento con mÃ¡s desertores en 2018 con 191 estudiantes

NOM_RBD
LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMONDE SILVA    986
Name: count, dtype: int64

In [ ]:
# RBD nombres
rbd = matricula2018[matricula2018['RBD'] == 8497]
rbd

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,NOM_DEPROV_RBD,...,GEN_ALU,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS
1320438,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,1,201311,4,13,13302,LAMPA,0,0,0,1
1320439,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,2,201310,4,13,13108,INDEPENDENCIA,0,0,0,1
1320440,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,1,201308,4,13,13108,INDEPENDENCIA,0,0,0,1
1320441,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,2,201312,4,13,13108,INDEPENDENCIA,0,0,0,1
1320442,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,1,201403,4,13,13108,INDEPENDENCIA,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321651,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,2,199506,23,13,13127,RECOLETA,0,0,0,12
1321652,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,1,199812,19,13,13108,INDEPENDENCIA,0,0,0,12
1321653,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,2,199410,23,13,13108,INDEPENDENCIA,0,0,0,12
1321654,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,1,199912,18,13,13108,INDEPENDENCIA,0,0,0,12
1321655,2018,8497,2,LICEO GABRIELA MISTRAL,13,131,13108,INDEPENDENCIA,137,SANTIAGO NORTE,...,2,199308,24,13,13108,INDEPENDENCIA,0,0,0,12

In [ ]:
# RBD nombres valores unicos
rbd['NOM_RBD'].value_counts()

# El LICEO GABRIELA MISTRAL	 de Independencia 
# es el segundo establecimiento con mÃ¡s desertores en 2018 con 181 estudiantes

NOM_RBD
LICEO GABRIELA MISTRAL    1218
Name: count, dtype: int64

In [ ]:
# Agrupar por 'NOM_RBD' y 'DESERTOR' y contar el nÃºmero de filas
counts = df.groupby(['NOM_RBD', 'DESERTOR']).size().reset_index(name='counts')

# Filtrar para 'DESERTOR' = 1
desertores = counts[counts['DESERTOR'] == 1]

# Seleccionar los 20 grupos mÃ¡s grandes
top20 = desertores.nlargest(20, 'counts')

# Ahora puedes trabajar con el dataframe 'top20' que contiene la informaciÃ³n que necesitas
print(top20)

                                                 NOM_RBD  DESERTOR  counts
12425                   LICEO JORGE ALESSANDRI RODRIGUEZ         1     244
12255                             LICEO GABRIELA MISTRAL         1     230
12107  LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...         1     191
12720                 LICEO NRO 2 MIGUEL LUIS AMUNATEGUI         1     174
7188                                      ESCUELA ESPANA         1     171
766                           COLEGIO BERNARDO OÂ´HIGGINS         1     164
12582                             LICEO MARTA NAREA DIAZ         1     153
8135                          ESCUELA LUIS CRUZ MARTINEZ         1     150
11731                                          LICEO 131         1     147
1903                       COLEGIO LIBERTADOR SAN MARTIN         1     146
154                CENTRO EDUCACIONAL FERNANDO DE ARAGON         1     144
2961                      COLEGIO POLIVALENTE PLUS ULTRA         1     136
7356                            ESCUELA GABRIELA MISTRAL         1     136
12748                                 LICEO PABLO NERUDA         1     131
12488                                   LICEO LA PORTADA         1     130
3984              COMPLEJO EDUCACIONAL J. MIGUEL CARRERA         1     127
11830                                 LICEO ANDRES BELLO         1     126
12433                        LICEO JOSE ANTONIO CARVAJAL         1     122
13460           MIGUEL DE CERVANTES Y SAAVEDRA ANEXO A-8         1     121
4172              ESC. BAS.MUNICIPAL MERCEDES FONTECILLA         1     119

In [ ]:
# Agrupar por 'NOM_RBD', 'COD_COM_RBD' y 'DESERTOR' y contar el nÃºmero de filas
counts = df.groupby(['NOM_RBD', 'NOM_COM_RBD', 'DESERTOR']).size().reset_index(name='counts')

# Filtrar para 'DESERTOR' = 1
desertores = counts[counts['DESERTOR'] == 1]

# Seleccionar los 20 grupos mÃ¡s grandes
top20 = desertores.nlargest(20, 'counts')

# Ahora puedes trabajar con el dataframe 'top20' que contiene la informaciÃ³n que necesitas
display(top20)

,NOM_RBD,NOM_COM_RBD,DESERTOR,counts
13228,LICEO DE HOMBRES DE ANTOFAGASTA MARIO BAHAMOND...,ANTOFAGASTA,1,191
13384,LICEO GABRIELA MISTRAL,INDEPENDENCIA,1,181
13884,LICEO NRO 2 MIGUEL LUIS AMUNATEGUI,SANTIAGO,1,174
13746,LICEO MARTA NAREA DIAZ,ANTOFAGASTA,1,153
12831,LICEO 131,BUIN,1,147
2106,COLEGIO LIBERTADOR SAN MARTIN,CONCHALI,1,146
156,CENTRO EDUCACIONAL FERNANDO DE ARAGON,PUENTE ALTO,1,144
8942,ESCUELA LUIS CRUZ MARTINEZ,QUILICURA,1,139
3239,COLEGIO POLIVALENTE PLUS ULTRA,INDEPENDENCIA,1,136
13642,LICEO LA PORTADA,ANTOFAGASTA,1,130
4446,COMPLEJO EDUCACIONAL J. MIGUEL CARRERA,QUILICURA,1,127
832,COLEGIO BERNARDO OÂ´HIGGINS,LA SERENA,1,126
13580,LICEO JOSE ANTONIO CARVAJAL,COPIAPO,1,122
14647,MIGUEL DE CERVANTES Y SAAVEDRA ANEXO A-8,SANTIAGO,1,121
4636,ESC. BAS.MUNICIPAL MERCEDES FONTECILLA,QUILICURA,1,119
263,CENTRO POLITECNICO PARTICULAR SAN RAMON,LA CISTERNA,1,116
4001,COLEGIO SANTA MARIA DE SANTIAGO,SANTIAGO,1,116
12566,INST.SUP.DE COMERCIO ENRIQUE MALDONADO S,TALCA,1,113
13301,LICEO EDUARDO DE LA BARRA,VALPARAISO,1,113
3132,COLEGIO POLITEC. MARIA GRISELDA VALLE S.,EL BOSQUE,1,111